@font-face {
    font-family: 'Oranienbaum';
    src: url('fonts/Oranienbaum-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Oranienbaum', Georgia;
    display: flex;
    height: 100vh;
    margin: 0;
}

.content a:link,
.content a:visited {
    color: #596D48;
}

.footer a:link,
.footer a:visited {
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 248, 253);
    min-width: 65vw;
    height: 100%;
    padding-bottom: 200px;
}

h2, p {
    padding-left: 3rem;
    max-width: 50ch;
}

.background {
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-width: 35vw;
    height: 100%;
    padding-bottom: 200px;
    position: relative;
}

.bg-banner {
    background-color: rgba(27, 27, 27, 0.4);
    position: relative;
    top: 200px;
    padding: 10px;
    text-align: center;
}

.logo {
    font-size: 9rem;
    color: white;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    margin-top: 0px;
}

.footer {
    color: white;
    padding: 5px;
}

input {
    margin: 0px 0px 15px;
    width: 200px;
    padding: 4px;
    border-radius: 5px;
}

input:invalid {
    border: 2px solid red;
}

button {
    background-color: #596D48;
    color: white;
    margin-top: 1rem;
    margin-left: 3rem;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
}

label {
    display: block;
}

fieldset {
    background-color: white;
    border: 0;
    width: auto;
    margin: 0;
    padding: 0;
    box-shadow: 0px 2px 8px rgb(200, 200, 200);
}

.field-container {
    display: flex;
    padding-left: 3rem;
}

.field-right{
padding: 0 50px;
}


