@font-face {
    font-family: 'Oranienbaum';
    src: url('fonts/Oranienbaum-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Oranienbaum', Georgia;
    display: flex;
    margin: 0;
}

.content a:link,
.content a:visited {
    color: black;
}

.footer a:link,
.footer a:visited {
    color: white;
}

.content {
    background-color: rgb(246, 248, 253);
    padding: 1rem;
    max-inline-size: 75ch;
}

.background {
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bg-banner {
    background-color: rgba(27, 27, 27, 0.4);
    position: relative;
    top: 200px;
    padding: 10px;
    text-align: center;
}

.logo {
    font-size: 9rem;
    color: white;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.footer {
    color: white;
    padding: 5px;
}

input {
    margin: 5px 0px;
}

input:invalid {
    border: 1px solid red;
}

input:focus {
    border: 1px solid rgb(138, 161, 223);
    outline: none;
}

button {
    border-width: 1px;
}

